workflows/bootstrap_manager.json
{
    "name": "Bootstrap Error Handler",
    "nodes": [
        {
            "parameters": {},
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "POSTGRES_CREDENTIAL_ID",
                            "value": "YOUR_POSTGRES_CREDENTIAL_ID"
                        },
                        {
                            "name": "TELEGRAM_CREDENTIAL_ID",
                            "value": "YOUR_TELEGRAM_CREDENTIAL_ID"
                        },
                        {
                            "name": "N8N_API_CREDENTIAL_ID",
                            "value": "YOUR_N8N_API_CREDENTIAL_ID"
                        },
                        {
                            "name": "TELEGRAM_CHAT_ID",
                            "value": "YOUR_CHAT_ID"
                        },
                        {
                            "name": "TELEGRAM_THREAD_ID",
                            "value": "YOUR_THREAD_ID"
                        },
                        {
                            "name": "WEBHOOK_URL",
                            "value": "YOUR_WEBHOOK_URL"
                        }
                    ]
                }
            },
            "name": "Configuration",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://raw.githubusercontent.com/artdearthouse/n8n_error_handler/main/workflows/n8n_error_handler.json",
                "method": "GET",
                "responseFormat": "json"
            },
            "name": "Fetch Handler",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "resource": "workflow",
                "operation": "getAll",
                "returnAll": true,
                "options": {
                    "active": true
                }
            },
            "name": "Get Existing",
            "type": "n8n-nodes-base.n8n",
            "typeVersion": 1,
            "position": [
                600,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const existing = $items(\"Get Existing\");\nconst handler = existing.find(w => w.json.name === \"n8n_error_handler\");\n\nif (handler) {\n    return [{ json: { id: handler.json.id, exists: true } }];\n} else {\n    return [{ json: { exists: false } }];\n}"
            },
            "name": "Check Existence",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$json.exists}}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "If Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "url": "={{$node[\"Configuration\"].json[\"WEBHOOK_URL\"].split('/webhook')[0] + '/api/v1/workflows/' + $json.id}}",
                "method": "DELETE",
                "sendBody": false
            },
            "name": "Delete Old",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1200,
                200
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const config = $items(\"Configuration\")[0].json;\nconst item = $items(\"Fetch Handler\")[0];\nlet raw = item.json;\n\nif (typeof raw === 'string') {\n    try { raw = JSON.parse(raw); } catch (e) {}\n}\n\nif (!raw.nodes && raw.data && raw.data.nodes) {\n    raw = raw.data;\n}\n\nif (!raw.nodes) {\n    throw new Error(\"Invalid workflow JSON: Missing 'nodes' array. Keys: \" + Object.keys(raw).join(\", \"));\n}\n\nlet str = JSON.stringify(raw);\nstr = str.replace(/YOUR_POSTGRES_CREDENTIAL_ID/g, config.POSTGRES_CREDENTIAL_ID);\nstr = str.replace(/YOUR_TELEGRAM_CREDENTIAL_ID/g, config.TELEGRAM_CREDENTIAL_ID);\nstr = str.replace(/YOUR_N8N_API_CREDENTIAL_ID/g, config.N8N_API_CREDENTIAL_ID);\nstr = str.replace(/YOUR_CHAT_ID/g, config.TELEGRAM_CHAT_ID);\nstr = str.replace(/YOUR_THREAD_ID/g, config.TELEGRAM_THREAD_ID);\nstr = str.replace(/YOUR_WEBHOOK_URL/g, config.WEBHOOK_URL);\n\nreturn [{ json: JSON.parse(str) }];"
            },
            "name": "Prepare New",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1400,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "url": "={{$node[\"Configuration\"].json[\"WEBHOOK_URL\"].split('/webhook')[0] + '/api/v1/workflows'}}",
                "method": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{$json}}"
            },
            "name": "Create New",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1600,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "resource": "workflow",
                "operation": "getAll",
                "returnAll": true,
                "options": {
                    "active": true
                }
            },
            "name": "Get All Workflows",
            "type": "n8n-nodes-base.n8n",
            "typeVersion": 1,
            "position": [
                1800,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const createOutput = $items(\"Create New\")[0].json;\nconst newHandlerId = createOutput.id;\n\nconst allWorkflows = $items(\"Get All Workflows\");\nconst config = $node[\"Configuration\"].json;\nconst baseUrl = config.WEBHOOK_URL.split('/webhook')[0] + '/api/v1';\n\nconst updates = [];\n\nfor (const wf of allWorkflows) {\n    const wfData = wf.json;\n    if (wfData.id === newHandlerId) continue;\n    if (wfData.name === \"Bootstrap Error Handler\") continue;\n\n    if (wfData.settings && wfData.settings.errorWorkflow === newHandlerId) continue;\n\n    updates.push({\n        url: `${baseUrl}/workflows/${wfData.id}`,\n        body: {\n            settings: {\n                ...wfData.settings,\n                errorWorkflow: newHandlerId\n            }\n        }\n    });\n}\n\nreturn updates.map(u => ({ json: u }));"
            },
            "name": "Prepare Settings Updates",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2000,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "url": "={{$json.url}}",
                "method": "PUT",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{$json.body}}"
            },
            "name": "Apply Settings",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2200,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Configuration",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Configuration": {
            "main": [
                [
                    {
                        "node": "Fetch Handler",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Handler": {
            "main": [
                [
                    {
                        "node": "Get Existing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Existing": {
            "main": [
                [
                    {
                        "node": "Check Existence",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Existence": {
            "main": [
                [
                    {
                        "node": "If Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Exists": {
            "main": [
                [
                    {
                        "node": "Delete Old",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prepare New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete Old": {
            "main": [
                [
                    {
                        "node": "Prepare New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare New": {
            "main": [
                [
                    {
                        "node": "Create New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create New": {
            "main": [
                [
                    {
                        "node": "Get All Workflows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get All Workflows": {
            "main": [
                [
                    {
                        "node": "Prepare Settings Updates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Settings Updates": {
            "main": [
                [
                    {
                        "node": "Apply Settings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "tags": []
}