workflows/bootstrap_manager.json
{
    "name": "Bootstrap Error Handler",
    "nodes": [
        {
            "parameters": {},
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "POSTGRES_CREDENTIAL_ID",
                            "value": "YOUR_POSTGRES_CREDENTIAL_ID"
                        },
                        {
                            "name": "TELEGRAM_CREDENTIAL_ID",
                            "value": "YOUR_TELEGRAM_CREDENTIAL_ID"
                        },
                        {
                            "name": "N8N_API_CREDENTIAL_ID",
                            "value": "YOUR_N8N_API_CREDENTIAL_ID"
                        },
                        {
                            "name": "TELEGRAM_CHAT_ID",
                            "value": "YOUR_CHAT_ID"
                        },
                        {
                            "name": "TELEGRAM_THREAD_ID",
                            "value": "YOUR_THREAD_ID"
                        },
                        {
                            "name": "WEBHOOK_URL",
                            "value": "YOUR_WEBHOOK_URL"
                        }
                    ]
                }
            },
            "name": "Configuration",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://raw.githubusercontent.com/artdearthouse/n8n_error_handler/main/workflows/error_capture.json",
                "method": "GET",
                "responseFormat": "json"
            },
            "name": "Fetch Capture",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://raw.githubusercontent.com/artdearthouse/n8n_error_handler/main/workflows/error_processor.json",
                "method": "GET",
                "responseFormat": "json"
            },
            "name": "Fetch Processor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                400
            ]
        },
        {
            "parameters": {
                "url": "https://raw.githubusercontent.com/artdearthouse/n8n_error_handler/main/workflows/bootstrap_manager.json",
                "method": "GET",
                "responseFormat": "json"
            },
            "name": "Fetch Bootstrap",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                600
            ]
        },
        {
            "parameters": {
                "resource": "workflow",
                "operation": "getAll",
                "returnAll": true,
                "options": {
                    "active": true
                }
            },
            "name": "Get Existing",
            "type": "n8n-nodes-base.n8n",
            "typeVersion": 1,
            "position": [
                400,
                800
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const config = $items(\"Configuration\")[0].json;\nconst existing = $items(\"Get Existing\");\n\nfunction replaceConfig(jsonObj) {\n    let str = JSON.stringify(jsonObj);\n    str = str.replace(/YOUR_POSTGRES_CREDENTIAL_ID/g, config.POSTGRES_CREDENTIAL_ID);\n    str = str.replace(/YOUR_TELEGRAM_CREDENTIAL_ID/g, config.TELEGRAM_CREDENTIAL_ID);\n    str = str.replace(/YOUR_N8N_API_CREDENTIAL_ID/g, config.N8N_API_CREDENTIAL_ID);\n    str = str.replace(/YOUR_CHAT_ID/g, config.TELEGRAM_CHAT_ID);\n    str = str.replace(/YOUR_THREAD_ID/g, config.TELEGRAM_THREAD_ID);\n    str = str.replace(/YOUR_WEBHOOK_URL/g, config.WEBHOOK_URL);\n    return JSON.parse(str);\n}\n\nconst captureRaw = $items(\"Fetch Capture\")[0].json;\nconst processorRaw = $items(\"Fetch Processor\")[0].json;\nconst bootstrapRaw = request = $items(\"Fetch Bootstrap\")[0].json;\n\n// Helper to find existing ID\nfunction findId(name) {\n    const found = existing.find(e => e.json.name === name);\n    return found ? found.json.id : null;\n}\n\nconst captureId = findId(\"n8n_error_handler\");\nconst processorId = findId(\"Error Processor\");\nconst bootstrapId = $workflow.id;\n\nreturn [{\n    json: {\n        capture: {\n            data: replaceConfig(captureRaw),\n            method: captureId ? 'PUT' : 'POST',\n            endpoint: captureId ? `/workflows/${captureId}` : '/workflows'\n        },\n        processor: {\n            data: replaceConfig(processorRaw),\n            method: processorId ? 'PUT' : 'POST',\n            endpoint: processorId ? `/workflows/${processorId}` : '/workflows'\n        },\n        bootstrap: {\n            data: bootstrapRaw,\n            method: 'PUT',\n            endpoint: `/workflows/${bootstrapId}`\n        }\n    }\n}];"
            },
            "name": "Prepare Workflows",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "url": "={{$node[\"Configuration\"].json[\"WEBHOOK_URL\"].split('/webhook')[0] + '/api/v1' + $json.capture.endpoint}}",
                "method": "={{$json.capture.method}}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{$json.capture.data}}"
            },
            "name": "Save Capture",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                800,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "url": "={{$node[\"Configuration\"].json[\"WEBHOOK_URL\"].split('/webhook')[0] + '/api/v1' + $json.processor.endpoint}}",
                "method": "={{$json.processor.method}}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{$json.processor.data}}"
            },
            "name": "Save Processor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "resource": "workflow",
                "operation": "getAll",
                "returnAll": true,
                "options": {
                    "active": true
                }
            },
            "name": "Get All Workflows",
            "type": "n8n-nodes-base.n8n",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "// Update settings for all workflows\n// Logic: Capture ID is now known (either we created it or updated it)\n// We can get it from the 'Save Capture' response if it was POST, or we knew it from Prepare.\n// A simpler way is to just look for 'n8n_error_handler' in 'Get All Workflows' again.\n\nconst allWorkflows = $items(\"Get All Workflows\");\nconst captureWf = allWorkflows.find(w => w.json.name === 'n8n_error_handler');\nif (!captureWf) throw new Error(\"Could not find n8n_error_handler ID after save\");\n\nconst captureWfId = captureWf.json.id;\nconst config = $node[\"Configuration\"].json;\nconst baseUrl = config.WEBHOOK_URL.split('/webhook')[0] + '/api/v1';\n\nconst updates = [];\n\nfor (const wf of allWorkflows) {\n    const wfData = wf.json;\n    if (wfData.id === captureWfId) continue;\n    if (wfData.name === \"Bootstrap Error Handler\") continue;\n\n    if (wfData.settings && wfData.settings.errorWorkflow === captureWfId) continue;\n\n    updates.push({\n        url: `${baseUrl}/workflows/${wfData.id}`,\n        body: {\n            settings: {\n                ...wfData.settings,\n                errorWorkflow: captureWfId\n            }\n        }\n    });\n}\n\nreturn updates.map(u => ({ json: u }));"
            },
            "name": "Prepare Settings Updates",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1400,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "url": "={{$json.url}}",
                "method": "PUT",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{$json.body}}"
            },
            "name": "Apply Settings",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1600,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "url": "={{$node[\"Configuration\"].json[\"WEBHOOK_URL\"].split('/webhook')[0] + '/api/v1' + $node[\"Prepare Workflows\"].json.bootstrap.endpoint}}",
                "method": "PUT",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{$node[\"Prepare Workflows\"].json.bootstrap.data}}"
            },
            "name": "Self Update",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1800,
                300
            ],
            "credentials": {
                "n8nApi": {
                    "id": "={{$node[\"Configuration\"].json[\"N8N_API_CREDENTIAL_ID\"]}}",
                    "name": "n8n API"
                }
            }
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Configuration",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Configuration": {
            "main": [
                [
                    {
                        "node": "Fetch Capture",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Capture": {
            "main": [
                [
                    {
                        "node": "Fetch Processor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Processor": {
            "main": [
                [
                    {
                        "node": "Fetch Bootstrap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Bootstrap": {
            "main": [
                [
                    {
                        "node": "Get Existing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Existing": {
            "main": [
                [
                    {
                        "node": "Prepare Workflows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Workflows": {
            "main": [
                [
                    {
                        "node": "Save Capture",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Capture": {
            "main": [
                [
                    {
                        "node": "Save Processor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Processor": {
            "main": [
                [
                    {
                        "node": "Get All Workflows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get All Workflows": {
            "main": [
                [
                    {
                        "node": "Prepare Settings Updates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Settings Updates": {
            "main": [
                [
                    {
                        "node": "Apply Settings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Apply Settings": {
            "main": [
                [
                    {
                        "node": "Self Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "tags": []
}